<html>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2>Member Page</h2>
<ul>
  <% @member.enrollments.each do |item| %>
    <li><%= item.activity.name %></li>
  <% end %>
</ul>
</html>
